<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>编辑博客页面</title>
    <script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        tinyMCE.init({
                        'mode':'textareas',
                        'theme':'advanced',
                        'width':'800',
                        'height':'600',
                        })
    </script>
</head>

<form action="{% url 'theology:article_edit_page_action' %}" method="post" >

    {% csrf_token %}

    {% if article %}
        <input type="hidden" name="article_id_hidden"  value="{{ article.id }}">
        <label>博客标题
           <input type="text" name="title" value="{{ article.title }}">
        </label>

        <p></p>
        <label>博客内容
            <textarea  name="content" rows="30" cols="80" >{{article.content}}</textarea>
        </label>
        <p></p>
        <label>验证码
            <input type="text" name="verifycode"/>
            <img src="{% url 'theology:verifycode' %}">
            <span>{{tips}}</span>
        </label>
        <input type="submit" value="提交">
    {% else %}
        <input type="hidden" name="article_id_hidden"  value="0">
        <label>博客标题
           <input type="text" name="title">
        </label>

        <p></p>
        <label>博客内容
            <textarea  name="content"  rows="30" cols="80"></textarea>
        </label>
        <br/>
        <label>验证码
            <input type="text" name="verifycode"/>
            <img src="{% url 'theology:verifycode' %}">
            <span>{{tips}}</span>
        </label>
        <p></p>
        <input type="submit" value="确认">
    {% endif %}
</form>

<body>
</body>
</html>