<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客详情页</title>
</head>
<body>
    <h2>{{ article.title }}</h2>
    </br>
    创建时间:       {{ article.create_time|date:'Y-m-d H:i' }}
    <p></p>
    最近修改时间：   {{ article.last_modified_time|date:'Y-m-d H:i' }}
    <h4> {% autoescape off %}
         {{ article.content }}
         {% endautoescape %} </h4>
    </br>
    </br>
    <a href=" {% url 'theology:article_edit_page' article.id %} ">编辑</a>
    <a href=" {% url 'theology:article_delete_action' article.id %}">删除</a>
    <p></p>
    <a href=" {% url 'theology:index' %} ">目录</a>
</body>
</html>